[mcu adxl_bed]
serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.4:1.0 #1.2

[adxl345 bed]
cs_pin: adxl_bed:gpio9
spi_software_sclk_pin: adxl_bed:gpio10
spi_software_mosi_pin: adxl_bed:gpio11
spi_software_miso_pin: adxl_bed:gpio12

[mcu adxl_hotend]
serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.3:1.0 #1.1
#serial: /dev/spidev0.1
#serial: /dev/ACM0

[adxl345 hotend]
cs_pin: adxl_hotend:gpio9 #9
spi_software_sclk_pin: adxl_hotend:gpio10 #10
spi_software_mosi_pin: adxl_hotend:gpio11 #11
spi_software_miso_pin: adxl_hotend:gpio13 #12

[resonance_tester]
accel_chip_x: adxl345 hotend
accel_chip_y: adxl345 bed
probe_points: 117.5,117.5,20  # middle of bed as an example